@charset "UTF-8";
body {
  margin: 0 auto;
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #aaa;
  z-index: 1;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 100%;
  background: #eee;
}

.nav_wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 77%;
  height: 100%;
  text-align: center;
}

nav {
  display: inline-block;
  width: 16%;
  line-height: 50px;
  text-align: center;
}

.logout_nav {
  display: none;
  position: absolute;
  top: 15px;
  right: 25px;
  width: 60px;
  line-height: 20px;
  background-color: #fff;
  font-size: 13px;
  margin: 0 auto;
}

.info_wrap {
  text-align: center;
  margin-top: 50px;
}

hr{
  width: 370px;
}

input{
  width: 370px;
  height: 30px;
}

input:first-child{
  margin-top: 50px;
}


textarea {
  resize: none;
}


.submit{
  width: 380px;
  height: 50px;
  background-color: rgba(228, 82, 101, 0.733);
  font-size: 30px;
}

input::placeholder{
  text-align: center;
}


.log_sns{
  width: 450px;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
}


.log_sns p {
  display: inline-block;
}


.top_nav{
  margin-bottom: 50px;
}


#naverIdLogin{
  text-align: center;
}


#KakaoIdLogin{
  text-align: center;
  height: 63px;
}


#Kakaoimg{
  height: 55px;
  width: auto;
}


.abcRioButton.abcRioButtonLightBlue {
  margin: 0 auto;
}
