@charset "UTF-8";
/*----------------공통영역-------------*/
body {
    margin: 0 auto;
    font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
#wrap{
    margin: 0 auto;
}
/*----------------상단바 영역-------------*/
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 1280px;
    height: 50px;
    background-color: white;
    border-top: 3px solid #999;
    border-bottom: 3px solid #999;
    margin: 0 auto;
    font-size: 20px;
    z-index: 1;
}
header > div{
    line-height: 50px;
    padding: 5px 0;
}
.logo {
    margin-top: 5px;
    background: #2f3542;
    padding-top: 10px;
    height: 30px;
}
.logo span{
    border-top: 3px solid red;
    border-bottom: 3px solid red;
    width: 100%;
    color: #fff;
}
.nav_p {
    line-height: 40px;
    font-size: 16px;
}
.nav_p:hover {
  border-bottom: 2px solid rgba(0,0,0,0.2)
}
.nav_a:hover {
    font-size: 18px;
    font-weight: bold;
}
.logout_nav {
    display: none;
    background-color: #fff;
}
/*-----------------------스크롤바--------------------------*/
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px white;
}